.signup-form {
  max-width: 370px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 40px;
}
.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.44px;
}

.subtitle {
  margin: 24px 0 48px 0;
  line-height: 24px;
}

.input-wrapper {
  margin-bottom: 40px;
  height: 32px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  input {
    font-size: 16px;
    height: 24px;
    width: 100%;
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: block;
  font-size: 16px;
  padding: 1em 3em;
  border-radius: 4px;
  border: none;
}

.btn-signup {
  background: var(--button-2);
  color: var(--text-1);
  &:hover {
    color: white;
    background-color: var(--button-hover-2);
  }
}
